/* ================================== Start Requirements Div=============================== */

.requirement-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.requirement-div h2 {
    text-align: center;
}

.req {
    margin-top: 3%;
    width: 85%;
    box-shadow: -1.75px -1.75px 10px 0px palevioletred, 2px 2px 10px 0px rgb(55, 55, 235);
    border-radius: 10px;
}

.req-lists {
    position: relative;
    padding: 0% 15% 3% 15%;
    text-align: justify;
}

.req-lists li {
    padding: .2rem;
}

.link-icon.fa {
    font-size: 15px;
}


/* ================================== End Requirements Div=============================== */

ul.download {
    font-weight: 550;
    margin: 5rem 1rem;
    margin-bottom: 20vh;
}

ul.download li a {
    color: dodgerblue;
}

.distintro {
    width: 80%;
    height: auto;
    margin: auto;
}

ul.distros {
    list-style-type: none;
    margin-bottom: 8rem;
}

.dist {
    display: flex;
    flex-direction: column;
    /* important for @media */
    margin: 4rem 0.5rem;
}

.distro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h2 {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}

.laptop {
    width: 50vw;
    height: auto;
    margin: auto;
    margin-bottom: 0 !important;
    border: 9px solid #ddd;
    border-radius: 12px 12px 0 0;
}

.bottom {
    width: 60vw;
    height: 12px;
    border-radius: 0 0 25px 25px;
    border-top: 5px solid white;
    border-bottom: 1px solid black;
    background: #bbb;
    z-index: 1;
    margin-top: 0 !important;
}

.distdesc {
    text-align: center;
}


/* ------------------------------- Download Dropdown ----------------------- */

.downloadlinks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8rem;
    flex-direction: column;
    text-align: center;
}

.drpdown {
    flex: 1;
}

.drpbtn {
    background-color: white;
    width: 100%;
    color: black;
    padding: 16px 0;
    font-size: 16px;
    border: 2px solid black;
}

.drpdown {
    position: relative;
    display: inline-block;
}

.drpdown-content {
    /* display: none; */
    visibility: hidden;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.drpdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    margin-left: 0.2vw;
    padding: 0.01rem;
    width: calc(100vw - 2.75rem);
}

.drpdown-content a:hover {
    background-color: #ddd;
}

.drpdown:hover .drpdown-content {
    visibility: visible;
    animation: rolldown 0.45s 1;
}

.drpdown:hover .drpbtn {
    background-color: #eee;
}

.dwnlinks {
    text-align: center;
    padding: 0.25rem 5rem;
    text-align: center;
}

.sidenav~* {
    padding-left: 2.5rem;
}